.grid {
    border: 1px solid black;
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 66px;
    width: 66px;
}

.ending-block {
    background-color: red;
}

.starting-block {
    background-color: blue;
}

/*.log-left,
.log-right {
    background-color: deepskyblue;
}*/

/*.car-left,
.car-right {
    background-color: dimgray;

}*/


.l1,
.l2,
.l3 {
    background-color: brown;
}

.l4,
.l5 {
    background-color: deepskyblue;
 
}

.c1 {
    background-color: black;
}

.c2,
.c3 {
    background-color: dimgray;
}

.Frog {
    background-color: green;
}